.DS_Store
[Bb]in/
[Oo]bj/
*.suo
*.user
*.csproj.user
*.dtbcache.json
*.userprefs
*.wixpdb
*.wixobj
# VIM
*~
*.swp
/src/.deploy
_Resharper*/

# Nuget: http://docs.nuget.org/consume/package-restore#omitting-packages-from-source-control
## Ignore NuGet Packages
*.nupkg
## Ignore the packages folder
**/packages/*
## except build/, which is used as an MSBuild target.
!**/packages/build/
## Uncomment if necessary however generally it will be regenerated when needed
!**/packages/repositories.config

# Misc
src/TestResult.xml
src/.build/nuget.exe
src/msbuild.log
src/.vs/
src/.temp/
.vs/