<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LessMsi.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
	<supportedRuntime version="v4.0"/>
	<supportedRuntime version="v4.5"/>
</startup>
    <userSettings>
        <LessMsi.Gui.Properties.Settings>
            <setting name="LastRecordedAppSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastRecordedAppLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
        </LessMsi.Gui.Properties.Settings>
    </userSettings>
</configuration>