<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
	<supportedRuntime version="v4.0"/>
	<supportedRuntime version="v4.5"/>
</startup>
  <appSettings>
    <add key="WindowWidth" value="0"/>
    <add key="WindowHeight" value="0"/>

    <add key="X_Position" value="10"/>
    <add key="Y_Position" value="10"/>
  </appSettings>
</configuration>